DATABASE_URL="postgresql://postgres:password@127.0.0.1:5432/database"

BETTER_AUTH_SECRET="" # generate with `openssl rand -base64 32`

BETTER_AUTH_URL="http://localhost:3000" # or your domain
NEXT_PUBLIC_GOOGLE_CLIENT_ID="" # required for Google One Tap on the login page

SSL_MODE="require" # optional

BASE_URL="http://localhost:3000" # or your domain
GOOGLE_CLIENT_SECRET="" # required for Google One Tap on the login page

EMAIL_DOMAIN_NAME="example.com" # required for anonymous sign-in